# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# For more information about the properties used in this file, please visit
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# Set the default charset encoding
[*]
charset = utf-8

# Indentation settings
[*.js]
indent_style = space
indent_size = 2

[*.css]
indent_style = space
indent_size = 2

# Trim trailing whitespace
trim_trailing_whitespace = true

# Ensure a newline at the end of the file
insert_final_newline = true
