.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.badge-container {
  justify-content: left;
  margin-top: 20px;
  overflow-x: auto;
}

.badge-container span{
  display: inline-block;
  margin: 10px;
}

.badge-gpt {
  font-size: 15px;
  font-weight: bold;
  /* text-transform: uppercase; */
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  /* Cubic bezier for the transition */
}

.badge-gpt:hover {
  background-color: #f0f0f0;
  /* Example: Change background on hover */
  color: #333;
  /* Example: Change text color on hover */
  transform: scale(1.1);
  /* Example: Scale the button on hover */
}

.blue {
  color: #ffffff;
  background-color: #3498db;
}

.green {
  color: #ffffff;
  background-color: #2ecc71;
}

.yellow {
  color: #ffffff;
  background-color: #808080;
}

h3 {
  font-size: 25px;
}


.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.intro-content {
  text-align: center;
}

.neon-button {
  background-color: transparent;
  border: 2px solid #00509e;
  /* Darker blue color for border */
  color: #00509e;
  /* Darker blue color for text */
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.neon-button:hover {
  background-color: #00509e;
  /* Darker blue color for background on hover */
  color: #fff;
  /* White color for text on hover */
  box-shadow: 0 0 10px #00509e, 0 0 20px #00509e, 0 0 40px #00509e;
}

/* Badge for course or reading */
.badge-c-r {
  font-size: 10px;
  font-weight: bold;
  /* text-transform: uppercase; */
  padding: 2px 4px;
  margin-right: 20px;
  border-radius: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  /* Cubic bezier for the transition */
}

.book {
  background-color: #e0ff00;
}

.course {
  background-color: #c2ff00;
}

a {
  color: #43485c;
}
